<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>major project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="icon" href="./static/images/logo_website.jpg" type="image/x-icon">
    <link rel="stylesheet" href="mediaqueries.css" />
  </head>
  <body>
    <!-- Upper Arrow Button -->
    <button id="scrollTopBtn" onclick="scrollToTop()">↑</button>

    <nav id="desktop-nav">
      <div class="logo-container" onclick="window.location.reload()">
          <img src="./static/images/logo_website.jpg" alt="Logo" class="logo-img">
          <div class="logo"><b></b></div>
      </div>
      <div>
          <ul class="nav-links">
              <li><a href="#profile">Home</a></li>
              <li><a href="#about">Assessment</a></li>
              <li><a href="#projects">Awareness</a></li>
              <li><a href="#contact">About Us</a></li>
          </ul>
      </div>
  </nav>
    <nav id="hamburger-nav">
      <div class="logo">mm</div>
      <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-links">
          <li><a href="#profile" onclick="toggleMenu()">Home</a></li>
          <li><a href="#about" onclick="toggleMenu()">Assessment</a></li>
          <li><a href="#projects" onclick="toggleMenu()">Awareness</a></li>
          <li><a href="#contact" onclick="toggleMenu()">About Us</a></li>
        </div>
      </div>
    </nav>
    <div id="background-section">
      <section id="profile">
        <div class="section__text">
          <h1 class="title" id="profile_name">&ldquo;Together, we can heal communities. It starts with one conversation.&rdquo; </h1>
          <h4>#MindMatters</h4>
        </div>
      </section>
    </div>
    <script>
      // JavaScript code here
    </script>
  </body>
</html>


    <section id="about">
      <div class="about-container">
          <div class="about-image">
              <img src="./static/images/assessment-images.png" alt="assessment">
          </div>
          <div class="about-text">
              <h2>Your Path to Peace of Mind Starts Here: Take Our Assessment</h2>
              <p>Welcome! We care deeply about your mental health and hence to help you manage stress and improve your overall mental health, we invite you to take our quick and confidential mental health assessment. This simple assessment will provide a score that helps us understand your mental health status. Based on your score, we'll offer personalized stress management techniques and guidelines to support you on your journey to better mental health. Remember, this is a safe space, and we’re here to help you every step of the way.
              </p>
              <div class="button-container">
                <a class="btn" href="/basic-screen" id="assess"><b>Assess</b></a>
            </div>
          </div>
      </div>
    </section>

    <section id="Bot">
      <div class="bot-container">
        <div class="bot-text">
          <h2>Take Charge of Your Well-Being: Quick Chat with Noddle</h2>
          <p>
            Hello! I'm Noddle, your mental health assistant. I'm here to offer you a safe and confidential space to share your thoughts and feelings without any fear of judgment. You can talk to me about any mental health concerns you have. Think of me as your supportive buddy, always ready to listen and provide helpful guidelines. Let's chat and work through this together.
          </p>
          <div class="button-container">
            <a class="btn" href="/ChatBot "id="bot-btn"><b>Chat with me</b></a>
          </div>
        </div>
        <div class="bot-image">
          <img src="./static/images/home-bot.jpg" alt="assessment">
        </div>
      </div>
    </section>
    
  
    
    <section id="projects" class="part">
      <h1 class="title">Awareness</h1>
      <div id="projects-container">
        <div id="project-left" class="details-container color-container project-container">
          <div class="article-container">
            <img src="/static/images/Depression-Koi.avif" alt="Awareness 1" class="project-img" />
            <h2 class="experience-sub-title project-title">Depression</h2>
            <p>Depression (major depressive disorder) is a common and serious medical illness that negatively affects how you feel, the way you think and how you act.</p>
            <a id='know-more-1'href="/depression" class="know-more-btn"><b>Know More</b></a>
          </div>
        </div>
        <div id="project-middle" class="details-container color-container project-container">
          <div class="article-container">
            <img src="/static/images/Anxiety-Vines.avif" alt="Awareness 2" class="project-img" />
            <h2 class="experience-sub-title project-title">Anxiety Disorders</h2>
            <p>Anxiety is a chronic and intense fear that disrupts daily life, often linked to disorders like anxiety disorder, panic disorder, social anxiety, and phobias.</p>
            <a id='know-more-2' href="anxiety"class="know-more-btn"><b>Know More</b></a>
          </div>
        </div>
        <div id="project-right" class="details-container color-container project-container">
          <div class="article-container">
            <img src="/static/images/Autism-Butterfly.avif" alt="Awareness 3" class="project-img" />
            <h2 class="experience-sub-title project-title">Autism</h2>
            <p>Autism is disorder which involves difficulties in communication and social interaction and repetitive behaviors, typically diagnosed in early childhood.</p>
            <a id='know-more-3' href="/autism" class="know-more-btn"><b>Know More</b></a>
          </div>
        </div>
      </div>
    </section>
    
    
               
    <!-- <section id="experience" class="part">
      <p class="section__text__p1">Uncover my</p>
      <h1 class="title">Experience</h1>
      <div class="experience-timeline">
        <div class="experience-container left-container">
          <img src="./assets/Bank--Streamline-Core.png" alt="education-icon" class="experience-icon">
          <div class="text-box">
            <h2>Alphabet Inc.</h2>
            <small>2018-2019</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisiicing elit. Dolores dolorem corrupti dignissimos unde voluptas quia hic nostrum reiciendis?</p>
            <span class="left-container-arrow"></span>
          </div>
        </div>
        <div class="experience-container right-container">
          <img src="./assets/Bag-Suitcase-2--Streamline-Core.png" alt="job-icon" class="experience-icon">
          <div class="text-box">
            <h2>Google Inc.</h2>
            <small>2019-2020</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolorem corrupti dignissimos unde voluptas quia hic nostrum reiciendis?</p>
            <span class="right-container-arrow"></span>
          </div>
        </div>
        <div class="experience-container left-container">
          <img src="./assets/Bag-Suitcase-2--Streamline-Core.png" alt="job-icon" class="experience-icon">
          <div class="text-box">
            <h2>Amazon Inc.</h2>
            <small>2022-2026</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolorem corrupti dignissimos unde voluptas quia hic nostrum reiciendis?</p>
            <span class="left-container-arrow"></span>
          </div>
        </div>
        <div class="experience-container right-container">
          <img src="./assets/Bag-Suitcase-2--Streamline-Core.png" alt="job-icon" class="experience-icon">
          <div class="text-box">
            <h2>Zomato</h2>
            <small>2025-2026</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolorem corrupti dignissimos unde voluptas quia hic nostrum reiciendis?</p>
            <span class="right-container-arrow"></span>
          </div>
        </div>
      </div>
    </section>
     -->
    
    
    <!-- <section id="projects" class="part">
      <p class="section__text__p1">Browse My Recent</p>
      <h1 class="title">Projects</h1>
      <div id="projects-container">
        <div id="project-left" class="details-container color-container project-container">
          <div class="article-container">
            <img src="./assets/project-1.png" alt="Project 1" class="project-img" />
            <h2 class="experience-sub-title project-title">Project One</h2>
          </div>
        </div>
        <div id="project-middle" class="details-container color-container project-container">
          <div class="article-container">
            <img src="./assets/project-2.png" alt="Project 2" class="project-img" />
            <h2 class="experience-sub-title project-title">Project Two</h2>
          </div>
        </div>
        <div id="project-right" class="details-container color-container project-container">
          <div class="article-container">
            <img src="./assets/project-3.png" alt="Project 3" class="project-img" />
            <h2 class="experience-sub-title project-title">Project Three</h2>
          </div>
        </div>
      </div>
    </section> -->
    
    </section>
    <section id="background-contact">
      <section id="contact" class="part">
        <p class="section__text__p1">Get in Touch</p>
        <h1 class="title">Contact Us</h1>
        <div class="contact-info-upper-container">
          <div class="contact-info-container">
            <img
              src="/static/images/mail2-image.png"
              alt="Email icon"
              class="icon contact-icon email-icon"
            />
            <p><a href="mailto:examplemail@gmail.com">mindmate@gmail.com</a></p>
          </div>
          <div class="contact-info-container">
            <img
              src="/static/images/phone-icon.png"
              alt="phone icon"
              class="icon contact-icon"
            />
            <p>9328184728</p>
          </div>
        </div>
      </section>
      <footer>  
        <!-- <nav>
          
        </nav> -->
        <p>Copyright &#169; 2024 Mindmate. All Rights Reserved.</p>
      </footer>
  </section>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
